.btn {
  width: 100%;
  background-color: #BFB28C;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #352208;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #BFB28C;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.btn:disabled{
  cursor: not-allowed;
  opacity: 0.6;
}

.input-box {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: #26413C;
}

.input-box button{
  flex-shrink: 0;
  height: 45px;
  width: 95px;
}

.input-box span {
  color: #BFB28C;
  flex-shrink: 0;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-weight: 400;
  padding: 8px 10px;
  font-size: 20px;
  min-width: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box input {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  flex: 1;
  min-width: 0;
  padding: 12px 13px 12px 20px;
  background: #e2e2e2;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.input-box input::placeholder {
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}


.role-toggle {
  position: relative;
  width: auto;
  height: 40px;
  background: #e2e2e2;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.toggle-option {
  z-index: 2;
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: #352208;
  transition: color 0.3s;
}

.toggle-option.active {
  color: #000807;
}

.slider {
  position: absolute;
  top: 0;
  height: 100%;
  background: #BFB28C;
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 1;
}.slider.loginS {
  width: 33.33%;
}.slider.registerS {
  width: 50%;
}.slider.left.loginS {
  transform: translateX(0%);
}.slider.middle.loginS {
  transform: translateX(100%);
}.slider.right.loginS {
  transform: translateX(200%);
}.slider.left.registerS {
  transform: translateX(0%);
}.slider.right.registerS {
  transform: translateX(100%);
}